<!DOCTYPE html>
<html lang="zxx">
  <%- include("layouts/header") %>

  <body>
    <!-- Navigation contents -->
    <%- include("layouts/navbar") %>

    <section id="headers">
      <header class="hero sales_hero" id="home">
        <h1><a href="#sale_list_container">Sales</a></h1>
      </header>

      <header class="hero inventory_hero" id="home">
        <h1><a href="#inventory_container">Inventory</a></h1>
      </header>
    </section>

    <main>
      <!-- button to move the page at the the top -->
      <button id="go_to_top" title="Go to top">^</button>

      <section id="sale_list_container">
        <h1>Sales Details</h1>
        <form id="sale_filter_form" action="/filterSale" method="POST">
          <section id="sale_filter_form_fieldset">
            <p>Filter By:</p>
            <label for="start_date">Start Date</label>
            <input type="date" name="start_date" id="start_date" />
            <label for="end_date">End Date</label>
            <input type="date" name="end_date" id="end_date" />
            <input type="submit" name="submit" id="filter" value="FILTER" />
          </section>
          <table id="sales">
            <thead>
              <tr>
                <th>S.N.</th>
                <th>Date</th>
                <th>Revenue Generated</th>
              </tr>
            </thead>
            <tbody>
              <% salesList.forEach((sales, index) => {%>
              <tr>
                <td><%= index + 1%></td>
                <td><%= sales.purchase_date.toISOString().split("T")[0] %></td>
                <td><%= `$${Number(sales.revenue).toFixed(2)}` %></td>
              </tr>
              <% }) %> <% if(salesList.length == 0) { %>
              <tr>
                <td colspan="3">No Sales Found!</td>
              </tr>
              <%}%>
            </tbody>
          </table>
        </form>
      </section>

      <section id="inventory_container">
        <h1>Inventory Details</h1>
        <table id="inventory">
          <thead>
            <tr>
              <th>S.N.</th>
              <th>Book ID</th>
              <th>Book Name</th>
              <th>Qty</th>
              <th>Unit Price</th>
            </tr>
          </thead>
          <tbody>
            <% booksList.forEach((books, index) => {%>
            <tr>
              <td><%= index + 1%></td>
              <td><%= books.ISBN %></td>
              <td><%= books.name %></td>
              <td><%= books.count %></td>
              <td><%= `$${books.price}` %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </main>

    <%- include("layouts/footer") %> <%- include("layouts/scripts") %>
  </body>
</html>
